[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pylint = "<2.0.0"
setuptools = "*"
django = "*"
yapf = "*"

[packages]
requests = "*"
pandas = "*"
numpy = "*"
bs4 = "*"
flask = "*"

[requires]
python_version = "3.7"
