[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pylint = "*"
setuptools = "*"
django = "*"

[packages]
requests = "*"
pandas = "*"
numpy = "*"
markdown = "*"

[requires]
python_version = "3.7"
